$background-color: #131313;
$primary-color: #ea3031;
$secondary-color: #747474;
$white-color: #fff;
$black-color: #000;

$primary-color-100: #fad1d1;
$primay-color-200: #f17475;
$primary-color-300: #e81719;
$primary-color-400: #8b0e0f;
$primary-color-500: #2e0505;

$secondary-color-100: #e6e6e6;
$secondary-color-200: #b3b3b3;
$secondary-color-300: #808080;
$secondary-color-400: #4d4d4d;
$secondary-color-500: #1a1a1a;
