@import "./styles/globals/_variables.scss";

.button {
  width: 100%;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
}

.primary {
  background: $primary-color;
  color: $white-color;
  border-color: $primary-color;
}

.secondary {
  background: $black-color;
  color: $primary-color;
  border-color: $black-color;
}

.small {
  min-height: 42px;
  font-size: 14px;
  max-width: 150px;

  @media only screen and (max-width: $desktop-breakpoint) {
    min-height: 35px;
    font-size: 12px;
    max-width: 100px;
  }
}

.medium {
  min-height: 50px;
  font-size: 16px;

  @media only screen and (max-width: $desktop-breakpoint) {
    min-height: 42px;
    font-size: 14px;
  }

  @media only screen and (max-width: $tablet-breakpoint) {
    max-width: 280px;
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    max-width: 100%;
  }
}

.button:hover {
  cursor: pointer;
}

.primary:hover {
  background-color: rgba($color: $black-color, $alpha: 0.3);
}

.secondary:hover {
  border-color: $primary-color;
  background-color: rgba($color: $black-color, $alpha: 0.3);
}

.disabled {
  color: $secondary-color;
}

.disabled:hover {
  cursor: not-allowed;
  border-color: $black-color;
  background-color: $black-color;
}

.icon {
  margin-right: 10px;
}

.icon-flex {
  display: flex;
}

.no-text {
  border: none;
  padding: 5px;
  border-radius: 50%;
  min-height: 0;
  margin-right: 10px;
  opacity: 0.5;
}

.no-opacity {
  opacity: 1;
}
