@import "./styles/globals/_variables.scss";

.input {
  background: transparent;
  color: $white-color;
  border: none;
  border-bottom: 1px dashed $primary-color;
  font-size: 1rem;
  height: 42px;
  width: 100%;
  letter-spacing: 0.03rem;
  outline: none;
}
